body {
    font-family: 'Montserrat', sans-serif !important;
}
// MA
@for $i from 1 through 4 {
    .ma-#{$i*4} { 
      margin: #{$i*4}px; 
    }
  }
// MT
@for $i from 1 through 4 {
    .mt-#{$i*4} { 
      margin-top: #{$i*4}px; 
    }
  }

// MR
@for $i from 1 through 4 {
    .mr-#{$i*4} { 
      margin-right: #{$i*4}px; 
    }
  }
// MB
@for $i from 1 through 4 {
    .mb-#{$i*4} { 
      margin-bottom: #{$i*4}px; 
    }
  }
// ML
@for $i from 1 through 4 {
    .ml-#{$i*4} { 
      margin-left: #{$i*4}px; 
    }
  }
